* {
    margin: 0;
    padding: 0;
}

body {
    height: 300vh;
}


canvas {
    position: fixed;
}

#ui-container {
    position: fixed;
    z-index: 10;
    top: 1rem;
    right: 0;
}

#control-menu-btn {
    position: relative;
    cursor: pointer;
    right: 1rem;
    top: 1rem;
    z-index: 20;
    transition: right 0.2s ease-in-out;
}

#control-menu-btn.open {
    right: 240px;
}

#control-menu {
    position: fixed;
    top: 1rem;
    right: -350px;
    border: solid 2px #737373;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    backdrop-filter: blur(10px);
    height: 500px;
    width: 300px;
    display: flex;
    flex-direction: column;
    transition: right 0.2s ease-in-out;

}

#control-menu.visible {
    right: 0;
}


#scroll-progress {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
}

#loading-screen {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 10;
    background-color: rgba(100, 100, 100, 0.30);  
    display: flex;
    justify-content: center;
    align-items: center;
}

#loading-bar-container {
    width: 50%;
}

#loading-bar {
    width: 0%;
    height: 0.8rem;
    background-color: rgba(255, 255, 255, 0.5);
    transition: width 0.2s ease;
    border-radius: 0.4rem;
}